@font-face {
    font-family: "nunito";
    src: url('../recursos/fonts/Nunito-SemiBoldItalic.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Quicksand:wght@400;500;700&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,500&display=swap');


* {
    margin: 0px;
    padding: 0px;
}



.logo2{
    width: 150px;

}

.navbar li {
    font-family: "Roboto Flex", sans-serif;
    font-size: 12px;
    font-weight: 200;

   
}


.carousel-item img{
     width: 80%;
     margin: auto;
     display: flex;
     justify-content: center;
}

/*  
.nav ul {
    list-style-type: none;
    background-color: rgba(24, 196, 99, 0.751);
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    border: 1px solid gray;
    text-align: center;
    line-height: 40px;

}

.menu{
        border-color: rgba(128, 128, 128, 0.562);
        border-radius: 5px;

}
.menu2{
      text-decoration: none;
      color: white;

}

.main {
    display: flex;

}

.imagen-pediatrics{
    display: grid;
}


/* font-weigt- estilo de letras 
 bold
    font-family: "nunito";
    font-size: 20px;
    color: white;
    background-color: rgba(31, 213, 76, 0.821);
    border-radius: 20px;
    text-align: center;
    width: 850px;
    padding: 20px;
    border: 20px;
    margin: 20px 10px 20px;
    display: inline-block;
    */





/* font-size- Tamaño de fuente */

/* list-style-type- tipo de estilo de lista */
.no-ordenada {
    list-style-type: none;

}

.lista-ordenada {
    color: grey;
    display: flex;

}


.img2 {
    width: 300px;

}
footer{
    background-color: rgb(121, 204, 20);
    display: flex;
    justify-content: space-evenly;
}

.logoblanco{
    width: 150px;
    padding: 20px;
}
.parrafo1{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer1{
    background-color: black;
    color: white;
    height: 75px;
    text-align: center;


}

.ubicacion{
    width: 20px;
}

/* Especialista */





.img-especialistas{
    background: linear-gradient(176deg, #8ac646, #e2ec83);
}
.img{
    width: 700px;
}

.Especialist {
    font-family: "nunito";
    font-weight: 50px;
    color: rgb(248, 248, 248);
    background-color: rgba(187, 195, 28, 0.66);
    text-align: center;
    display: inline;

}

.varios {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: green;
    background-color: rgba(153, 205, 50, 0.692);
    text-align: center;

}


.container{
    list-style-type: none;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 40px;
    justify-content: center
    
    
    
   
}

.conteiner2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgb(97, 97, 93);
    border-style: solid;
    border-color: rgb(102, 206, 76);
    border-radius: 20px;
    height: 60px
}

.conteiner2:hover{
    transform: translate(-5px, -5px);
    background: rgba(206, 231, 19, 0.736);
}

@media (max-width: 800px){
    body{
        padding: 20px;
    
    }

    .imag{
        width: 300px;
    }

    .container {
        padding: 10px;
        grid-template-columns:  1fr;
        
       
    }

    
    footer{
        flex-direction: column;
        text-align: center;
    }

    .ubicacion{
        padding: 50px;
        
    }
}



/* CONTACTO */





.formulario{
    background: linear-gradient(136deg, #8ac646, #e2ec83);
    color: #d8dad3;
    padding: 50px;
    display: flex;
    justify-content: center
    

}

.form2 {
    display: flex;
    flex-direction: row; 
    padding: 50px 55px;
    background: white;
    box-shadow: 0 0 20px rgb(0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 800px;
    
}

.group{
    display: flex;
    flex-direction: column;
    text-align: left;

}

.contact1{
    display: grid;
    color: black;
    align-content: center;
    justify-content: center;
    width: 300px;
    margin: 0 0 30px;
    
}

.contact1 h1{
    font-size: 35px;
    color: rgba(23, 22, 22, 0.827);
}


label{
    color: rgb(156, 174, 159);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
padding: 17px 25px;
border-radius: 25px;
margin-bottom: 20px;
background-color: rgba(193, 244, 139, 0.725);
border: 2px solid ghostwhite;
color: antiquewhite;
outline: none;
}



.form-txt {
    margin-bottom: 30px;
    display: flex;
    text-align: space-between;
    text-align: center;

}

.form-txt a {
    color: rgb(63, 197, 202);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 800px){
    .formulario{
        padding: 30px 30px;
       
    }

    .form2{
        flex-direction: column;
        width: 290px;
    }

    .contact1{
        justify-content: start;
        font-size: 15px;
    }
    
    .contact1 h1{
        font-size: 25px;
    }
  
}
/* Quiero un turno */

.turnos {  
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    border-style: inset;
    grid-auto-flow: row;
    grid-template-areas:
      "Iturnos turnoseco tgeblix"
      "docturnos turnoswhatsapp .";
  }
  
  .Iturnos { grid-area: Iturnos; }
  
  .turnoseco { grid-area: turnoseco; }
  
  .docturnos { grid-area: docturnos; }
  
  .turnoswhatsapp { grid-area: turnoswhatsapp; }
  
  .tgeblix { grid-area: tgeblix; }
  


  
.iturnos{
    color: #f2e8cf;
    justify-content: center;
    padding: 20px;
    background-color: #7ecc35;
    border-style: groove;
    border-radius: 30px;


}  
.parrafot1{
    display: grid;
} 


.turnoseco{
    color: #f2e8cf;
    background-color: #7ecc35;
    border-style: groove;
    border-radius: 30px;
    padding: 20px;

}

.tgeblix{
    margin-left: 20px;
    color: #f2e8cf ;
    background-color:  #7ecc35;
    border-style: groove;
    border-radius: 30px;
    padding: 20px;
}

.docturnos{
    color: #f2e8cf ;
    background-color: #7ecc35;
    border-style: groove;
    border-radius: 30px;
    padding: 20px;

}

.turnoswhatsapp{
    color: #f2e8cf ;
    padding: 10px;
    background-color: #7ecc35;
    border-style: groove;
    border-radius: 30px;
    padding: 20px;

}

.btn {
    margin-left: 20px;
    margin-top: 20px;

}

fa-brands fa-whatsapp{
width: 30px;
    color: #097714;
    margin-left: 20px;
}
/* servicios */


.demanda{
    padding: 100px;
    display: grid;
    justify-content: space-around;
    width: 100%;
    border-bottom: solid 2px #918989;
    grid-template-columns: 40% 40%; 
}




.img-pediatria {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.laboratorio {
    padding: 100px;
    display: grid;
    justify-content: space-around;
    width: 100%;
    border-bottom: solid 2px #918989;
    grid-template-columns: 40% 40%; 
   

   
}

.img-laboratorio{
    width: 100%;
    height: auto;
    border-radius: 30px;

}

.kinesiologia{
    padding: 100px;
    display: grid;
    justify-content: space-around;
    width: 100%;
    border-bottom: solid 2px #918989;
    grid-template-columns: 40% 40%; 
  
   
}

.img-kinesiologia{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.diagnóstico{
    padding: 100px;
    display: grid;
    justify-content: space-around;
    width: 100%;
    border-bottom: solid 2px #918989;
    grid-template-columns: 40% 40%; 

}

.imgeco1{
width: 100%;
border-radius: 20px;
}

.img-eco{
display: flex;
flex-direction: column;

}

.imgeco2{
    width: 100%;
    border-radius: 20px;
}

