@font-face {
    font-family: "nunito";
    src: url('../recursos/fonts/Nunito-SemiBoldItalic.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}



.logo2{
    width: 150px;

}

.nav {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;

}

a.navbar-nav{
    border-bottom: .1px solid #e0e0e0;
    padding-top: 0px;
    padding-bottom: 0px;
    }

.nav-item {
     color: #181c28


}

/*  
.nav ul {
    list-style-type: none;
    background-color: rgba(24, 196, 99, 0.751);
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    border: 1px solid gray;
    text-align: center;
    line-height: 40px;

}

.menu{
        border-color: rgba(128, 128, 128, 0.562);
        border-radius: 5px;

}
.menu2{
      text-decoration: none;
      color: white;

}

.main {
    display: flex;

}

.imagen-pediatrics{
    display: grid;
}


/* font-weigt- estilo de letras 
 bold
    font-family: "nunito";
    font-size: 20px;
    color: white;
    background-color: rgba(31, 213, 76, 0.821);
    border-radius: 20px;
    text-align: center;
    width: 850px;
    padding: 20px;
    border: 20px;
    margin: 20px 10px 20px;
    display: inline-block;
    */





/* font-size- Tamaño de fuente */

/* list-style-type- tipo de estilo de lista */
.no-ordenada {
    list-style-type: none;

}

.lista-ordenada {
    color: grey;
    display: flex;

}


.img2 {
    width: 300px;

}
footer{
    background-color: rgb(121, 204, 20);
    display: flex;
    justify-content: space-evenly;
}

.logoblanco{
    width: 150px;
    padding: 20px;
}
.parrafo1{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer1{
    background-color: black;
    color: white;
    height: 75px;
    text-align: center;


}

.ubicacion{
    width: 20px;
}

/* Especialista */

.Especialist {
    font-family: "nunito";
    font-weight: 50px;
    color: green;
    background-color: rgba(187, 195, 28, 0.66);
    text-align: center;
    display: inline;

}

.varios {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: green;
    background-color: rgba(153, 205, 50, 0.692);
    text-align: center;

}


.container{
    list-style-type: none;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: rgb(0, 128, 41);
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 40px;
    justify-content: center
    
    
   
}

.conteiner2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: rgb(82, 173, 17);
    color: white;
    border-radius: 20px;
    height: 60px
}

.conteiner2:hover{
    transform: translate(-5px, -5px);
    background: rgba(200, 7, 149, 0.736);
}



/* CONTACTO */

.formulario{
    display: flex;
    justify-content: center

}

.form2 {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.group{
    display: flex;
    flex-direction: column;
    text-align: left;

}

h6 {
display: flex;
color: green;

}

label{
    color: rgb(156, 174, 159);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
padding: 17px 25px;
border-radius: 25px;
margin-bottom: 20px;
background-color: rgba(193, 244, 139, 0.725);
border: 2px solid ghostwhite;
color: antiquewhite;
outline: none;
}



.form-txt {
    margin-bottom: 30px;
    display: flex;
    text-align: space-between;
    text-align: center;

}

.form-txt a {
    color: rgb(63, 197, 202);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.bnt{
    font-size: 16px;
    color: #FFFF;
    border: 0;
    border-radius: 25PX;
    background-color: green;
    box-shadow: 0 0 20PX rgba(0, 128, 0, 0.626);
    cursor: pointer;

}

.bnt:hover{
    background-color: green;
}
