main {
    .especialistas {
        //background: linear-gradient(176deg, #8ac646, #e2ec83);
        .img {
            color: white;
            width: 100rem;
                height: 20rem;
                background: linear-gradient(to right, rgba(32, 144, 54, 0.595), rgba(89, 153, 47, 0.5)), url(../recursos/img/especialista.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }
       
        }
        .container {
        list-style-type: none;
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        padding: 30px;
        text-align: center;
        text-decoration: none;
        display: grid;
        grid-template-columns: 300px 300px;
        gap: 40px;
        justify-content: center;

        .conteiner2 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: rgb(97, 97, 93);
            border-style: solid;
            border-color: rgb(102, 206, 76);
            border-radius: 20px;
            height: 60px;
            position: relative;
            cursor: pointer;

            &:hover {
                transform: translate(-5px, -5px);
                background: rgba(206, 231, 19, 0.736);
            }

            
        }

    }




    @media (max-width: 800px) {
        body {
            padding: 20px;

        }

        .img{
            width: -12px;
           min-height: 10px;
           min-width: 20px;
           text-align: end;
            
            
        }

        .container {
            padding: 10px;
            grid-template-columns: 1fr;


        }

    }

}