footer {
    background-color: #79cc14;
    display: flex;
    justify-content: space-evenly;

    .logoblanco {
        width: 200px;
        padding: 20px;
    }

    .logo3{
        display: flex;
    
    }
    .f-enlaces{
        a{
        color: white;
        text-decoration: none;
    padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        }
    }

    .ubicacion {
        width: 20px;
    }

}

.footer1 {
    background-color: black;
    color: white;
    height: 75px;
    text-align: center;


}

@media (max-width: 800px) {

    footer {
        flex-direction: column;
        text-align: center;
      }
    .logo3{
        padding: 30px;
        flex-direction: column;
        text-align: left;
        
    }
      .ubicacion {
        display: flex;
        justify-content: flex-start;
        padding: 50px;
      }
    .footer2{
        height: 30px;
    }

}
