main {
    .navbar{
        background-color:#5fad56 ;
    }
    .carousel-inner {
        width: 98%;
        padding: 18px;
        margin: 10px
    }

    .Seccion1 {
        font-size: $PTSans;
        color: rgb(220, 89, 23);
        background-color: #c8e65e;
        padding: 2rem;
        height: 320px;
        backdrop-filter: blur(10px);
        box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
        text-align: center;
        position: relative;
        transition: all 0.2s ease-in-out;
        display: flex;
        justify-content: space-around;
    }

    .Direccion1 {
        background: rgba(255, 255, 255, 0.659);
        opacity: 0.7;
        border-radius: 5px;
        border: solid;
        border-color: rgba(255, 255, 255, 0.659);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;


        &:hover {
            transform: translate(-20px, -40px);
        }

    }


    .Direccion2 {
        background: rgba(255, 255, 255, 0.659);
        opacity: 0.7;
        border-radius: 5px;
        border: solid;
        border-color: rgba(255, 255, 255, 0.659);
        width: 246px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &:hover {
            transform: translate(-20px, -40px);
        }
    }

    .Direccion3 {
        background: rgba(255, 255, 255, 0.659);
        opacity: 0.7;
        border-radius: 5px;
        border: solid;
        border-color: rgba(255, 255, 255, 0.659);
        width: 315px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        i {
            padding: 10px;
        }

        &:hover {
            transform: translate(-20px, -40px);
        }

    }


    .carta {
        margin: 20px;
    }

    @media (max-width: 800px) {
        body {
            width: 10rem;
        }

        .imag {
            width: 300px;
        }

        .Seccion1 {
            width: 25rem;
            height: 36rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .Direccion1 {
                margin: 20px;
                padding: 10px;
                height: 10rem;
            }

            .Direccion2 {
                margin: 20px;
                padding: 10px;
                height: 12rem;
            }

            .Direccion3 {
                margin: 20px;
                padding: 10px;
                height: 10rem;
                width: 15rem;
            }
        }



    }
}