.logo2 {
    width: 150px;

}

.navbar li {
    font-family: "Roboto Flex", sans-serif;
    font-size: 12px;
    font-weight: 200;


}

header {
    .carousel-item img {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

}