main {

    .container-fluid{
        background-color:#30d51e ;
    }
    .carousel-inner {
        width: 98%;
        padding: 18px;
        margin: 10px;
    }

    .Seccion1 {
        font-size: $PTSans;
        text-align: center;
        display: flex;
        justify-content: space-evenly;

       .Direccion1 {
        color: white;
        background-color: #7ac74f;
        width: 50rem;
        height: 12rem;
        padding: 2rem;
        
        
       }
       .Direccion2{
        color: white;
        background-color: #a1cf6b;
        width: 50rem;
        height: 12rem;
        padding: 2rem;
       }
       .Direccion3{
        color: white;
        background-color: #cbb32bed;
        width: 50rem;
        height: 12rem;
        padding: 2rem;
       }
    }


    .carta {
        padding: 100px;
        .card{
         border-radius: 14px;
         box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.5);
         background: rgba(238, 234, 234, 0.174)
        }

    }

    @media (max-width: 800px) {
        body {
            width: 10rem;
        }

        .imag {
            width: 300px;
        }

        .Seccion1 {
            width: 25rem;
            height: 36rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .Direccion1 {
                margin: 20px;
                padding: 10px;
                height: 10rem;
            }

            .Direccion2 {
                margin: 20px;
                padding: 10px;
                height: 12rem;
            }

            .Direccion3 {
                margin: 20px;
                padding: 10px;
                height: 10rem;
                width: 15rem;
            }
        }



    }
}