main {
    .container-title{
        color: white;
        width: 100rem;
        height: 20rem;
        background: linear-gradient(to right, rgba(32, 144, 54, 0.595), rgba(89, 153, 47, 0.5)), url(../recursos/img/turnos.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        text-align: center;
        justify-content: center;
        .title{
            padding: 30px;
            justify-content: center;
        }
    }

    .turnos {
        padding: 100px;
        background: white;
        box-shadow: 20px 20px 20px rgba(26, 26, 26, 0.5);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 30px;
        border-style: inset;
        grid-auto-flow: row;
        
        grid-template-areas:
            "Iturnos turnoseco tgeblix"
            "docturnos turnoswhatsapp .";
    }

    .Iturnos {
        grid-area: Iturnos;
    }

    .turnoseco {
        grid-area: turnoseco;
    }

    .docturnos {
        grid-area: docturnos;
    }

    .turnoswhatsapp {
        grid-area: turnoswhatsapp;
    }

    .tgeblix {
        grid-area: tgeblix;
    }



    
    .iturnos {
        color: #32c415;
        width: 100%;
        margin: 20px;
        justify-content: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        justify-content: space-around;
        box-shadow: 0px 1px 10px rbg(0 0 0 0.2);

    }

    .parrafot1 {
        display: grid;
    }


    .turnoseco {
        color: #32c415;
        width: 100%;
        margin: 20px;
        justify-content: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        justify-content: space-around;
        box-shadow: 0px 1px 10px rbg(0 0 0 0.2);
    }

    .tgeblix {
        color: #32c415;
        width: 100%;
        margin: 20px;
        justify-content: center;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        justify-content: space-around;
        box-shadow: 0px 1px 10px rbg(0 0 0 0.2);
    }

    .docturnos {
        color: #32c415;
        width: 100%;
        margin: 20px;
        justify-content: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        justify-content: space-around;
        box-shadow: 0px 1px 10px rbg(0 0 0 0.2);
    }
        
        
    

    .turnoswhatsapp {
        color: #32c415;
        width: 100%;
        margin: 20px;
        justify-content: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        justify-content: space-around;
        box-shadow: 0px 1px 10px rbg(0 0 0 0.2);
    

        fa-brands fa-whatsapp {
            width: 30px;
            color: #097714;
            margin-left: 20px;
        }

    }

    .btn {
        margin-left: 20px;
        margin-top: 20px;

    }

    @media (max-width: 800px) {
        .container-title{
            min-height: 10px;
           min-width: 20px;
        }       

        .turnos {
            margin: 20px;
            padding: 20px;
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
               
        
        }


    }
}