main {
    .demanda {
        padding: 100px;
        display: grid;
        justify-content: space-around;
        width: 100rem;
        border-bottom: solid 2px #918989;
        grid-template-columns: 40% 40%;

        .img-pediatria {
            width: 100%;
            height: auto;
            border-radius: 30px;
        }
    }

    .laboratorio {
        padding: 100px;
        display: grid;
        justify-content: space-around;
        width: 100%;
        border-bottom: solid 2px #918989;
        grid-template-columns: 40% 40%;
        ul{
            list-style: none;
        }

        .img-laboratorio {
            width: 100%;
            height: auto;
            border-radius: 30px;
        }
    }

    .kinesiologia {
        padding: 100px;
        display: grid;
        justify-content: space-around;
        width: 100%;
        border-bottom: solid 2px #918989;
        grid-template-columns: 40% 40%;

        .img-kinesiologia {
            width: 100%;
            height: auto;
            border-radius: 30px;
        }
    }

    .diagnóstico {
        padding: 100px;
        display: grid;
        justify-content: space-around;
        width: 100%;
        border-bottom: solid 2px #918989;
        grid-template-columns: 40% 40%;

        .imgeco1 {
            width: 100%;
            border-radius: 20px;
        }

        .img-eco {
            display: flex;
            flex-direction: column;
        }

        .imgeco2 {
            width: 100%;
            border-radius: 20px;
        }
    }

    @media (max-width: 800px) {
        .demanda {
            width: 40rem;
            display: flex;
            flex-direction: column;
        }

        .laboratorio {
            display: flex;
            flex-direction: column;
            ul{
                list-style: none;
            }
        }

        .kinesiologia {
            display: flex;
            flex-direction: column;
        }

        .kinesiologia {
            display: flex;
            flex-direction: column;
        }
        .diagnóstico{
            display: flex;
            flex-direction: column;
        }

    }

}