main {
    .demanda {
        color:rgb(97, 97, 93) ;
        padding: 100px;
        display: grid;
        justify-content: space-around;
        width: 100%;
        border-bottom: solid 2px #918989;
        grid-template-columns: 40% 40%;
        .text-demanda{
            color: #7cb518;
        }

        .img-pediatria {
            width: 100%;
            height: auto;
            border-radius: 30px;
        }
    }

    .laboratorio {
        color:rgb(97, 97, 93) ;
        padding: 100px;
        display: grid;
        justify-content: space-around;
        width: 100%;
        border-bottom: solid 2px #918989;
        grid-template-columns: 40% 40%;
       .text-laboratorio{
        color: #7cb518;
       }
        ul{
            list-style: none;
        }

        .img-laboratorio {
            width: 100%;
            height: auto;
            border-radius: 30px;
        }
    }

    .kinesiologia {
        color:rgb(97, 97, 93) ;
        padding: 100px;
        display: grid;
        justify-content: space-around;
        width: 100%;
        border-bottom: solid 2px #918989;
        grid-template-columns: 40% 40%;
        .text-kinesiologia{
            color: #7cb518;
        }

        .img-kinesiologia {
            width: 100%;
            height: auto;
            border-radius: 30px;
        }
    }

    .diagnóstico {
        color: rgb(97, 97, 93);
        padding: 100px;
        display: grid;
        justify-content: space-around;
        width: 100%;
        border-bottom: solid 2px #918989;
        grid-template-columns: 40% 40%;

        .text-diagnostico{
            color: #7cb518;
        }

        .imgeco1 {
            width: 100%;
            border-radius: 20px;
        }

        .img-eco {
            display: flex;
            flex-direction: column;
        }

        .imgeco2 {
            width: 100%;
            border-radius: 20px;
        }
    }

    @media (max-width: 800px) {
        .demanda {
            text-align: center;
            padding: 34px;
            width: 22rem;
            display: flex;
            flex-direction: column;
            .text-demanda{
              border: 1px solid;
              border-radius: 27px;
              margin: 22px;
              padding: 10px;
            }
        }

        .laboratorio {
            text-align: center;
            padding: 34px;
            width: 22rem;
            display: flex;
            flex-direction: column;
            .text-laboratorio{
                border: 1px solid;
              border-radius: 27px;
              margin: 22px;
              padding: 10px;
            }
        }

        .kinesiologia {
            text-align: center;
            padding: 34px;
            width: 22rem;
            display: flex;
            flex-direction: column;
            .text-kinesiologia{
                border: 1px solid;
                border-radius: 27px;
                margin: 22px;
                padding: 10px;
              
            }
        }

        .diagnóstico{
            text-align: center;
            padding: 34px;
            width: 22rem;
            display: flex;
            flex-direction: column;
            .text-diagnostico{
                border: 1px solid;
                border-radius: 27px;
                margin: 22px;
                padding: 10px;
              
            }
        }

    }

}